/*2段組み*/
.contentA,.contentB{
    width: 50vw;
}

/*全体*/
.main{
    display: flex;
}

/*商品サムネイル*/
.pic{
    object-fit: cover;
    width: 90%;
}

/*商品画像(サムネイル以外)*/
.sel{
    object-fit: cover;
    width: 22.5%;
}

/*出品者情報(左下)*/
.info{
    width: 90%;
    height: 20%;
    background: white;
}

/*商品情報(右)*/
.big_info{
    width: 90%;
    height: 68%;
    background: white;
}

/*確認、通報、カートボタン*/
.cB_button{
    width: 80%;
}

/*以下スマホ用*/
@media only screen and (max-width: 979px) {
    .pic{
        width: 45vw;
        height: 45vw;
    }
    .sel{
        object-fit: cover;
        width: 11vw;
        height: 11vw;
    }
    .info{
        width: 45vw;
        height: 130vh;
        background: white;
    }
    .big_info{
        width: 45vw;
        height: 140vh;
        background: white;
    }
    .contentB form input{
        width: 45vw!important;
    }
    .sp_icon{
        width: 5vw;
    }
}