/*中央白枠 いろいろなところで使用*/
.form{
    background-color: white;
    margin: 10px auto;
    padding: 0 10px;
    width: 50vw;
    height: 150vh;
}

/*ボタンを中央に*/
.div_button{
    text-align: center;
}

/*入力欄*/
input{
    width: 30vw;
    font-size: 16px;
    padding: 10px 0;
    margin: 2vh;
}

/*ボタン間隔*/
button{
    margin: 5vh;
}

/*以下スマホ用*/
@media only screen and (max-width: 979px) {
    .form{
        background-color: white;
        margin: 10px auto;
        padding: 0 10px;
        width: 90vw;
        height: 150vh;
    }
    input{
        width: 80vw;
        font-size: 16px;
        padding: 10px 0;
        margin: 2vh;
    }
}
