.form{
    background-color: white;
    margin: 10px auto;
    padding: 0 10px;
    width: 50vw;
    height: 150vh;
}
.div_button{
    text-align: center;
}
input{
    width: 30vw;
    font-size: 16px;
    padding: 10px 0;
    margin: 2vh;
}
button{
    margin: 5vh;
}
select{
    width: 30vw;
    font-size: 16px;
    padding: 10px 0;
    margin: 2vh;
}
.range select{
    width: 25vw;
}
.range{
    justify-content: center;
    display: flex;
}
